<main>
  <div class="flex justify-center items-center h-[70vh]">
    <form action="/auth/register" method="post" class="w-[400px]">
      <div class="flex flex-col gap-2">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="rounded" />
      </div>
      <div class="flex flex-col gap-2 mt-5">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="rounded" />
      </div>
      <div class="flex flex-col gap-2 mt-5">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="rounded" />
      </div>
      <div class="flex flex-col gap-2 mt-5">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          class="rounded"
        />
      </div>
      <button
        type="submit"
        class="mt-5 px-4 py-2 bg-blue-600 text-white rounded"
      >Register</button>
    </form>
  </div>
</main>