<nav class="bg-gray-800 text-white py-5">
  <div class="container mx-auto flex items-center justify-between">
    <a class="text-3xl" href="/">Holid27</a>
    <ul class="flex items-center gap-5">
      {{#if isAuthenticated}}
        <li>
          <a href="/diary/my">my Diary</a>
        </li>
        <li>
          <a href="/diary/all">Lenta</a>
        </li>
        <li>
          <a href="/user/myprofile">my Profile</a>
        </li>
        <li>
          <a href="/auth/logout">Logout</a>
        </li>
      {{else}}
        <li>
          <a href="/auth/login">Login</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>