<nav class="bg-gray-800 text-white py-5">
  <div class="container mx-auto flex items-center justify-between">
    <a class="text-3xl" href="/">Holid27</a>
    <ul class="flex items-center gap-5">
      <li>
        <a href="/diary/my">my Diary</a>
      </li>
      <li>
        <a href="">Lenta</a>
      </li>
      <li>
        <a href="">my Profile</a>
      </li>
      <li>
        <a href="">Logout</a>
      </li>
      <li>
        <a href="/auth/login">Login</a>
      </li>

    </ul>
  </div>
</nav>